@model cinema.Models.MiejscaViewModel

@{
    ViewBag.Title = "Miejsca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/bilet2.js"></script>
<h2>Miejsca</h2>

<div style="padding: 15px;" class="bg1">
    <div class="row">
       
        




        <div class="col-sm-2 col-xs-6 col-centered"><img src="~/img/filmy/@Model.film.Plakat" alt="..." class="img-thumbnail"></div>
        <div class="col-sm-3 text-center col-xs-6 col-centered"><h4>@Model.film.Tytul</h4></div>
        <div style="margin-bottom:15px;" class="text-center col-sm-3  col-xs-6 col-centered">Ilość wolnych miejsc:<h1>@Model.wolnemiejsca</h1></div>
        <div style="color: green; margin-bottom:15px;" class="text-center col-sm-12  col-xs-6 col-centered">
            
            @foreach (var item in Model.miejsca)
            {

                
                <span style="font-size:64px;color:@if (item.Status == true) {<text>red</text>} else {<text>green</text>};" class="glyphicon glyphicon-bed" id="miejsce" aria-hidden="true" title="@item.Nr_Miejsca"></span>
            }
        </div>
    </div>
    <input type="hidden" id="idseansu" name="idseansu" value="@Model.idseansu" />
    <center><button type="button" id="submitit" class="btn btn-warning">Zamów bilet</button></center>

</div>